body {
  background-color: lightgrey;
}

.fixed-column {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 1; /* Ensure it's above the scrollable column */
    border-right: 1px solid black; /* Vertical rule style */

}

.scrollable-column {
    margin-left: 33.333%;
    width: 66.666%;
    /* Add any specific styling for the scrollable column if needed */
}

.half-height { /*for <div class="col-4">text*/
  height:50vh;
}


.content-wrapper {
    width: 66.666%;
    /*column-count: 2;  Display content in three columns */
    column-gap: 20px; /* Adjust as needed for gutter */
    padding-bottom: 15px; /* Padding within the scrollable area */
}

.nav-item {
    color: darkgray; /* Default text color */
    transition: color 0.3s; /* Smooth transition on color change */
    cursor: pointer;
}

.nav-item:hover {
    color: black; /* Text color changes to black on hover */
}


.hidden {
  display: none;
}

.active {
  color: black;
}


h1, h2, p, .serif, #myDIV {
}

p {
  font-family: poppins, sans-serif;
  font-weight: regular;
  font-style: normal;
  font-size: 0.65em;
  /*letter-spacing: 0.00em;*/
  line-height: 1.35em;
}



/* X-Small devices (portrait phones, less than 576px) */
// No media query for `xs` since this is the default in Bootstrap

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  ...
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  ...
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  ...
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  ...
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  ...
}

